* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    display: flex;
    /* Responsável por alinhar os itens lado a lado dentro do HEADER*/
    justify-content: space-between;
    /*  */
    align-items: center;
    /*  */
    background-color: #0e0036;
    /*  */
    padding: 3.75rem;
    /*  */
    flex-wrap: wrap;
    /* wrap é usado para autorizar o ajuste em telas menores  */
}

.header i {
    font-size: 6.25rem;
    color: #a04f62;
    /* https://paletadecores.com/paleta/0e0036/4c264b/a04f62/d2a391/e6d7b8/ */

}

.menu li a {
    text-decoration: none;
    color: #a04f62;
    padding: 0.5rem;
    background-color: #e6d7b8;
    border-radius: 0.5rem;
}

.menu li {
    margin-left: 0.7rem;
    list-style: none;
}

.menu {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

.flex {
    display: flex;
    /* aqui atribuímos as imagens lado a lado */
    flex-wrap: wrap;
    /* aqui informamos que os itens podem "quebrar" para se adpatar em telas menores */
    max-width: 800px;
    /* adaptação máxima dos conteúdos que estão dentro da section(div) */
    margin: 0 auto;
    /* centralizar as div */
    margin-bottom: 80px;
    text-align: center;
}

.flex img {
    max-width: 100%;
    /*adaptação máxima da imagem na página dentro da div*/
    display: block;
    /*reforçando que minhas imagens estejam em formato de blocos*/
}

.flex div {
    margin: 10px;
    /*Espaçamento das margens superior,inferior e laterais*/
    flex: 1 1 200px;
    /*  */
}

.secao2 {
    text-align: justify;
    background-color: #0e0036;
    padding: 9.3rem;
    color: white;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.rodape {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 2.5rem;

}

.rodape li {
    list-style: none;
    font-size: 1.56rem;
    margin-left: 90px;
}

.rodape i {
    font-size: 1.8em;
    color: #a04f62;
    flex-wrap: wrap;
    padding: 0.5em;
    background-color: #e6d7b8;
    margin-left: 20px;
    border-radius: 8px;
}

.lista {
    display: flex;
    margin: 40px;
}

.lista li a {
    text-decoration: none;
    color: #a04f62;
}

.lista :hover {
    color: white;
    transition: 0.5s;
}

@media screen and (max-width:480px) {
    
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0e0036;
    padding: 5%;
    flex-wrap: wrap;
}

.header i {
    font-size: 3rem;
    color: #a04f62;
}

.menu li a {
    text-decoration: none;
    color: #a04f62;
    padding: 0.4rem;
    background-color: #e6d7b8;
    border-radius: 0.5rem;
    font-size: 0.6rem;
}

.menu li {
    margin-left: 0.7rem;
    list-style: none;
}

.menu {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 1.8rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}

.flex p {
    margin-left: 35px;
    font-size: 1.3rem;
}

.flex img {
    width: 8rem;
    height: auto;
    display: block;
    margin-left: 60px;
}

.secao2 {
    text-align: justify;
    background-color: #0e0036;
    padding: 17%;
    color: white;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

.rodape {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    padding: 1%;

}

.rodape li {
    list-style: none;
    font-size: 0.8rem;
    margin-left: 10px;
}

.rodape i {
    font-size: 0.8rem;
    color: #a04f62;
    flex-wrap: wrap;
    background-color: #e6d7b8;
    border-radius: 8px;
}

.lista {
    display: inline
}

.lista li a {
    text-decoration: none;
    color: #a04f62;
}

.lista :hover {
    color: white;
    transition: 0.5s;
}
}